venv/
test.ipynb
.gitignore
project_full_context.txt
.png
rendered_code_cards/
server/
project_full_context_2.txt
ㄱㄷ
test/
debug_outputs/
outputs/

aimodels/
__pycache__

# Python
__pycache__/
*.pyc

# Virtual env
venv/
venv_ocr/

# OCR / Paddle outputs
outputs/
output/
data/
logs/
*.txt
*.json

# Large datasets (AIHub)
OCR_Data/
PaddleData/
S:/OCR_Data/

# Jupyter
.ipynb_checkpoints/

# Models
*.pdparams
*.pdopt
*.pdmodel
